/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Import Theme */
/**
 * Default Theme colours
**/
/*
 * Twitter button */
/*
 * Import sprites */
/*
 * Sprite maps & Icons */
/* line 42, btn-icon/*.png */
.btn-icon-sprite, .ui-state-default .btn-icon-twitter, .ui-widget-content .btn-icon-twitter {
  background: url('../images/btn-icon-s1c9c3fc5ba.png') no-repeat;
}

/* line 60, ../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.ui-state-default .btn-icon-twitter, .ui-widget-content .btn-icon-twitter {
  background-position: 0 0;
}

/*
 * Import module components */
/**
 * Form styles for the CMS
**/
/* line 8, ../scss/_forms.scss */
.cms .ss-ui-button.sstwitter-ui-action-twitter {
  color: white;
  background-color: #3b8eed;
  text-shadow: #2d86ec 0 -1px -1px;
  border-color: #2481eb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6aa9f1), color-stop(100%, #3b8eed));
  background: -webkit-linear-gradient(#6aa9f1, #3b8eed);
  background: -moz-linear-gradient(#6aa9f1, #3b8eed);
  background: -o-linear-gradient(#6aa9f1, #3b8eed);
  background: linear-gradient(#6aa9f1, #3b8eed);
}
/* line 20, ../scss/_forms.scss */
.cms .ss-ui-button.sstwitter-ui-action-twitter.ui-state-hover, .cms .ss-ui-button.sstwitter-ui-action-twitter:hover {
  background-color: #529bef;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b8eed), color-stop(100%, #1574e0));
  background: -webkit-linear-gradient(#3b8eed, #1574e0);
  background: -moz-linear-gradient(#3b8eed, #1574e0);
  background: -o-linear-gradient(#3b8eed, #1574e0);
  background: linear-gradient(#3b8eed, #1574e0);
}
/* line 30, ../scss/_forms.scss */
.cms .ss-ui-button.sstwitter-ui-action-twitter:active, .cms .ss-ui-button.sstwitter-ui-action-twitter:focus, .cms .ss-ui-button.sstwitter-ui-action-twitter.ui-state-active, .cms .ss-ui-button.sstwitter-ui-action-twitter.ui-state-focus {
  background-color: #3289ec;
  -webkit-box-shadow: inset 0 1px 3px #17181a, 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 3px #17181a, 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 3px #17181a, 0 1px 0 rgba(255, 255, 255, 0.6);
}
